.container{
  display: grid;
  place-content: center;
  width: -webkit-fill-available;
  height: 100vh;
}
.box {
  display: grid;
  place-content: center;
  grid-gap: 8px;
  width: 575px;
  border: 1px solid #30363d;
  height: 475px;
  border-radius: 6px;
}