.container{
  display: grid;
  place-content: center;
  width: -webkit-fill-available;
  height: 720px;
}
.box {
  display: grid;
  place-content: center;
  grid-gap: 15px;
  width: 575px;
  border: 1px solid #30363d;
  height: 450px;
  border-radius: 6px;
}